.icon{
  display: inline-block;
}
.icon-arrow-left{
   background: url(../img/icons/icon_arrow-left.png);
   width: 22px;
   height: 31px;
}
.icon-arrow-right{
  background: url(../img/icons/icon_arrow-right.png);
  width: 22px;
  height: 31px;
}
.icon-arrow-left-blue{
  background: url(../img/icons/icon-arrow-left-blue.png);
  width: 20px;
  height: 29px;
}
.icon-arrow-right-blue{
  background: url(../img/icons/icon-arrow-right-blue.png);
  width: 20px;
  height: 29px;
}
.icon-car {
  background: url("../img/icons/icon_car.png");
  width: 105px;
  height: 75px;
}
.icon-key{
  background: url("../img/icons/icon_key.png");
  width: 107px;
  height: 92px;
}
.icon-carwash{
  background: url("../img/icons/icon_carwash.png");
  width: 135px;
  height: 92px;
}
.icon-repair{
  background: url("../img/icons/icon_repair.png");
  width: 122px;
  height: 89px;
}
.icon-cars{
  background: url("../img/icons/icon_cars.png");
  width: 187px;
  height: 84px;
}
.icon-document{
  background: url("../img/icons/icon_document.png");
  width: 78px;
  height: 94px;
}
.icon-settings{
  background: url("../img/icons/icon_settings.png");
  width: 50px;
  height: 46px;
}
.icon-wheel{
  background: url("../img/icons/icon_wheel.png");
  width: 49px;
  height: 45px;
}
.icon-cask{
  background: url("../img/icons/icon_cask.png");
  width: 33px;
  height: 51px;
}
.icon-box{
  background: url("../img/icons/icon_box.png");
  width: 49px;
  height: 55px;
}
.icon-vk{
  background: url("../img/icons/facebook.png");
  width: 36px;
  height: 36px;
}
.icon-f{
  background: url("../img/icons/vk.png");
  width: 36px;
  height: 35px;
}
.icon-t{
  background: url("../img/icons/twitter.png");
  width: 37px;
  height: 37px;
}
.icon-g{
  background: url("../img/icons/google.png");
  width: 38px;
  height: 37px;
}
.icon-cherry{

}