@import "bourbon";
@import "vars.scss";
@import "icons";

*::-webkit-input-placeholder{
    color: #666;
    opacity: 1;
}

*:-moz-placeholder{
    color: #666;
    opacity: 1;
}

*::-moz-placeholder{
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder{
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid{
    color: #666;
}

body input:required:valid,
body textarea:required:valid{
    color: #666;
}

//Custom Styles Here
.about-company__content{
    p{
        padding-bottom: 40px;
    }
    h4{
        color: #161616;
    }
}
.about-company__slider{
    .lSAction>a{
        background: none;
    }
    .gallery > li{
        padding: 0 63px;
    }
    .lSAction{
        .lSPrev{
            transition: .3s all;
            opacity: 1;
            &:hover{
                transform: scale(1.3);
            }
        }
        .lSNext{
            transition: .3s all;
            opacity: 1;
            &:hover{
                transform: scale(1.3);
            }
        }
    }
}
.about-company{
    padding-bottom: 75px;
}
.pull-slider{
    position: relative;
    img{
        max-width: 434px;
    }
}
.btn-blue-left{
    bottom: 15px;
    left: 15px;
}
.btn-blue-right{
    bottom: 15px;
    right: 15px;
}
.auto-repair{
    background-color: #38569b;
    text-align: center;
    h2{
        color: #fff;
        text-align: center;
        padding-top: 52px;
    }
    p{
        color: #FFFFFF;
    }
    .inner{
        position: relative;
    }
}
.auto-repair__item{
    padding: 65px 0px;
    cursor: pointer;
    transition: .3s all;
    &:hover{
        transform: scale(.9);
    }
    i{
        min-height: 94px;
    }
}
.auto-parts{
    h1{
        text-align: center;
    }
}
.auto-parts__item{
    float: left;
    width: 50%;
    height: 416px;
    text-align: center;
    padding-top: 16%;
    h4{
        margin: 0;
    }
    p{
        color: #ffffff;
        margin: 0;
    }
}
.auto-parts__item_bg1{
    background: url("../img/raster/repairer.png");
}
.auto-parts__item_bg2{
    background: url("../img/raster/thumb.png");
}
.auto-parts__item_bg3{
    background: url("../img/raster/oil.png");
}
.auto-parts__item_bg4{
    background: url("../img/raster/manbox.png");
}
.auto-parts__item-c{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    i{
        margin-right: 11px;
    }
}
.order{
    text-align: center;
}
.order__content__item{
    padding-top: 110px;
    p{
        max-width: 207px;
        margin: 0 auto;
        padding-top: 15px;
    }
    h4{
        margin: 0px;
        padding-top: 25px;
    }
}
.reviews-slider{
    h2{
        text-align: center;
    }
}
.reviews-slider__border{
    border: 2px solid #7d9ddc;
    margin-top: 85px;
}
.reviews{
    ul{
        li{
            padding: 93px 0;
        }
    }
}
.rs__info{
    padding-left: 100px;
}
.rs__name{
    color: #141414;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 10px;
}
.rs__car{
    text-align: left;
}
.rs__text{
    max-width: 620px;
    border-left: 2px solid #7d9ddc;
    color: #141414;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 48px;
}
.images__content{
    margin-top: 80px;
}
.images__content__item{
    margin: 0 auto;
    padding: 0px 0px;
    max-height: 227px;
    img{
        width: 100%;
        height: 100%;
        max-height: 220px;
    }
}
.maps__content{
    padding-left: 65px;
    padding-top: 25px;
}
.block1{
    margin: 0 auto;
    margin-top: 440px;
    margin-bottom: 40px;
    width: 423px;
    display: block;
}
.btn-red-maps{
    outline: none;

}
.slider-car{
    background: #ededed;
    padding: 15px 0;
    .lSSlideOuter  {
        padding: 0 37px;
    }
    .lSAction{
        a{
            background-image: none;
            text-shadow: 0.5px 0.9px 0 rgba(0, 1, 1, 0.75);
            color: white;
            font-size: 24px;
            font-weight: 400;
            &:hover{
                text-decoration: none;
            }
        }
        .lSNext{
            text-align: right;
        }
    }
}
.slider-brands{


    li{
        background-color: #cfcfcf;
        border-radius: 5px;
        min-height: 49px;
        position: relative;
        img{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}
footer{
    background-color: #38569b;
}
.footer__h{
    color: white;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    margin-right: 115px;
}
.footer__p{
    color: white;
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
}
.footer-social{
    padding: 38px 81px;
    i{
        max-height: 35px;
        margin-right: 5px;
        transition: .3s all;
        &:hover{
            transform: scale(.9);
        }
    }
}
.footer__content{
    padding: 44px 27px;
}
.block-mfp{
    padding-bottom: 59px;
    background-color: #38569b;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    .krest{
        background-image: url("../img/icons/krest.png");
        width: 23px;
        height: 23px;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        transition: .3s all;
        &:hover{
            transform: scale(1.1);
        }
    }
    h3{
        color: #ffffff;
        font-size: 30px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        margin: 0;
        padding-top: 50px;
    }
    p{
        color: #dde4ff;
        text-align: left;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        padding: 25px 40px;
    }
    ul{
        margin-left: 18px;
        li{
            color: #ffffff;
            font-size: 16px;
            font-weight: 300;
            line-height: 36px;
            text-align: left;
            list-style-image: url("../img/icons/ul.png");
        }
    }
}
.map{
    padding-bottom: 30px;
    .btn-red{
        display: block;
        margin: 0 auto;
        margin-top: 40px;
    }
}
.map__content{
    text-align: center;
}
.map__content__item{
    display: inline-block;
    vertical-align: top;
    margin: 30px 50px;
    h3{
        text-align: left;
    }
    p{
        text-align: left;
    }
}
.btn-red_2{
    outline: none;
}
.btn-red{
    outline: none;
}








//ALWAYS END
@import "media";
@import "sketches";