@import url(../libs/lightslider/dist/css/lightslider.min.css);
@import url(../libs/magnific-popup/dist/magnific-popup.css);
.icon {
  display: inline-block; }

.icon-arrow-left {
  background: url(../img/icons/icon_arrow-left.png);
  width: 22px;
  height: 31px; }

.icon-arrow-right {
  background: url(../img/icons/icon_arrow-right.png);
  width: 22px;
  height: 31px; }

.icon-arrow-left-blue {
  background: url(../img/icons/icon-arrow-left-blue.png);
  width: 20px;
  height: 29px; }

.icon-arrow-right-blue {
  background: url(../img/icons/icon-arrow-right-blue.png);
  width: 20px;
  height: 29px; }

.icon-car {
  background: url("../img/icons/icon_car.png");
  width: 105px;
  height: 75px; }

.icon-key {
  background: url("../img/icons/icon_key.png");
  width: 107px;
  height: 92px; }

.icon-carwash {
  background: url("../img/icons/icon_carwash.png");
  width: 135px;
  height: 92px; }

.icon-repair {
  background: url("../img/icons/icon_repair.png");
  width: 122px;
  height: 89px; }

.icon-cars {
  background: url("../img/icons/icon_cars.png");
  width: 187px;
  height: 84px; }

.icon-document {
  background: url("../img/icons/icon_document.png");
  width: 78px;
  height: 94px; }

.icon-settings {
  background: url("../img/icons/icon_settings.png");
  width: 50px;
  height: 46px; }

.icon-wheel {
  background: url("../img/icons/icon_wheel.png");
  width: 49px;
  height: 45px; }

.icon-cask {
  background: url("../img/icons/icon_cask.png");
  width: 33px;
  height: 51px; }

.icon-box {
  background: url("../img/icons/icon_box.png");
  width: 49px;
  height: 55px; }

.icon-vk {
  background: url("../img/icons/facebook.png");
  width: 36px;
  height: 36px; }

.icon-f {
  background: url("../img/icons/vk.png");
  width: 36px;
  height: 35px; }

.icon-t {
  background: url("../img/icons/twitter.png");
  width: 37px;
  height: 37px; }

.icon-g {
  background: url("../img/icons/google.png");
  width: 38px;
  height: 37px; }

body {
  font-family: Roboto; }

header {
  position: relative; }

.inner {
  max-width: 1024px;
  margin: 0 auto; }

.header-top {
  background-color: rgba(0, 0, 0, 0.48);
  height: 113px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2; }

.logo {
  padding-top: 40px;
  display: block; }
  .logo a {
    color: white;
    font-size: 30px;
    font-weight: 900;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none; }

.top-menu {
  padding: 47px; }
  .top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .top-menu li {
    display: inline-block;
    padding: 0 12px; }
    .top-menu li a {
      color: #fff;
      font-size: 18px;
      font-weight: 500; }
      .top-menu li a:hover {
        color: #7d9ddc;
        text-decoration: none;
        -webkit-transition: 0.3s;
        transition: 0.3s; }

.lSSlideOuter.header-slider {
  position: relative; }
  .lSSlideOuter.header-slider .lSPager.lSpg {
    position: absolute;
    width: 100%;
    bottom: 210px; }
    .lSSlideOuter.header-slider .lSPager.lSpg > li {
      margin: 0 5px; }
      .lSSlideOuter.header-slider .lSPager.lSpg > li a {
        background-color: #fff;
        height: 10px;
        width: 10px;
        -webkit-box-shadow: 0 0 0px 2.5px #fff;
        box-shadow: 0 0 0px 2.5px #fff; }
      .lSSlideOuter.header-slider .lSPager.lSpg > li.active a {
        background-color: #94a3fc; }
  .lSSlideOuter.header-slider .lSAction > a {
    background: none; }

.header-slider.gallery li {
  min-height: 810px;
  background-position: center;
  background-size: cover; }

.header-bot {
  background-color: rgba(0, 0, 0, 0.48);
  padding: 14px 0;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0px;
  z-index: 2; }

.header-bot__item {
  border-right: 1px solid #fff;
  margin-top: 16px;
  padding: 9px 26px;
  min-height: 156px;
  display: inline-block; }
  .header-bot__item:last-child {
    border: 0; }

.header-slider {
  padding: 0;
  margin: 0; }
  .header-slider li {
    background-position: center top; }

.gamburger {
  display: none;
  width: 25px;
  position: absolute;
  right: 15px;
  top: 47px; }
  .gamburger span {
    display: block;
    width: 100%;
    height: 4px;
    margin-bottom: 4px;
    background: #FFFFFF; }

header .btn-red {
  position: absolute;
  z-index: 1;
  top: 508px;
  left: 189px;
  outline: none; }

.header-slider .lSAction .lSPrev {
  opacity: 1;
  -webkit-transition: .3s all;
  transition: .3s all;
  left: 18px; }
  .header-slider .lSAction .lSPrev:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

.header-slider .lSAction .lSNext {
  opacity: 1;
  -webkit-transition: .3s all;
  transition: .3s all; }
  .header-slider .lSAction .lSNext:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

.block-news1 {
  width: 970px;
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.34);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.34);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #8a9ff6;
  background-color: #ffffff;
  position: relative;
  margin: auto;
  padding-left: 45px;
  padding-right: 40px;
  padding-bottom: 30px; }
  .block-news1 .mfp-close {
    color: #8a9ff6;
    opacity: 1;
    font-size: 35px;
    -webkit-transition: .2s all;
    transition: .2s all; }
    .block-news1 .mfp-close:hover {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3); }
  .block-news1 h3 {
    color: #38569b;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    padding-top: 20px; }
  .block-news1 h5 {
    color: #38569b;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding-top: 15px; }
  .block-news1 h6 {
    color: #000000;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 11px; }
  .block-news1 img {
    padding-top: 20px; }
  .block-news1 p {
    color: #000000;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
    padding-top: 16px; }

.mfp-wrap.mfp-scale .block-popup-overall {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  visibility: hidden;
  -webkit-transition: .2s all;
  transition: .2s all; }

.mfp-wrap.mfp-scale.mfp-ready .block-popup-overall {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.block-popup-overall {
  width: 586px;
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.34);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.34);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 2px solid #8f9ef3;
  background-color: #ffffff;
  position: relative;
  margin: auto;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px; }
  .block-popup-overall .mfp-close {
    color: #8a9ff6;
    opacity: 1;
    font-size: 35px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .block-popup-overall .mfp-close:hover {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3); }
  .block-popup-overall .btn-form {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #23365a;
    border: none;
    outline: none;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 44px;
    margin-top: 15px;
    -webkit-transition: .3s all;
    transition: .3s all; }
    .block-popup-overall .btn-form:hover {
      background-color: #2e4877; }
    .block-popup-overall .btn-form:active {
      background-color: #1c2b48; }

.block-popup-overall__row {
  margin-bottom: 20px; }

.block-popup-overall__row__item {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px; }
  .block-popup-overall__row__item p {
    color: #1a1a1a;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding-top: 6px;
    text-align: left; }
  .block-popup-overall__row__item input {
    width: 286px;
    height: 39px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #dee3fe;
    border: none;
    outline: none;
    padding-left: 10px; }
    .block-popup-overall__row__item input:focus {
      -webkit-box-shadow: 0 0 5px black;
      box-shadow: 0 0 5px black; }
  .block-popup-overall__row__item textarea {
    width: 286px;
    height: 104px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #dee3fe;
    border: none;
    outline: none;
    resize: none; }
    .block-popup-overall__row__item textarea:focus {
      -webkit-box-shadow: 0 0 5px black;
      box-shadow: 0 0 5px black; }

.block-popup-overall__row__left {
  width: 196px; }
