.icon {
  display: inline-block; }

.icon-arrow-left {
  background: url(../img/icons/icon_arrow-left.png);
  width: 22px;
  height: 31px; }

.icon-arrow-right {
  background: url(../img/icons/icon_arrow-right.png);
  width: 22px;
  height: 31px; }

.icon-arrow-left-blue {
  background: url(../img/icons/icon-arrow-left-blue.png);
  width: 20px;
  height: 29px; }

.icon-arrow-right-blue {
  background: url(../img/icons/icon-arrow-right-blue.png);
  width: 20px;
  height: 29px; }

.icon-car {
  background: url("../img/icons/icon_car.png");
  width: 105px;
  height: 75px; }

.icon-key {
  background: url("../img/icons/icon_key.png");
  width: 107px;
  height: 92px; }

.icon-carwash {
  background: url("../img/icons/icon_carwash.png");
  width: 135px;
  height: 92px; }

.icon-repair {
  background: url("../img/icons/icon_repair.png");
  width: 122px;
  height: 89px; }

.icon-cars {
  background: url("../img/icons/icon_cars.png");
  width: 187px;
  height: 84px; }

.icon-document {
  background: url("../img/icons/icon_document.png");
  width: 78px;
  height: 94px; }

.icon-settings {
  background: url("../img/icons/icon_settings.png");
  width: 50px;
  height: 46px; }

.icon-wheel {
  background: url("../img/icons/icon_wheel.png");
  width: 49px;
  height: 45px; }

.icon-cask {
  background: url("../img/icons/icon_cask.png");
  width: 33px;
  height: 51px; }

.icon-box {
  background: url("../img/icons/icon_box.png");
  width: 49px;
  height: 55px; }

.icon-vk {
  background: url("../img/icons/facebook.png");
  width: 36px;
  height: 36px; }

.icon-f {
  background: url("../img/icons/vk.png");
  width: 36px;
  height: 35px; }

.icon-t {
  background: url("../img/icons/twitter.png");
  width: 37px;
  height: 37px; }

.icon-g {
  background: url("../img/icons/google.png");
  width: 38px;
  height: 37px; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

.about-company__content p {
  padding-bottom: 40px; }

.about-company__content h4 {
  color: #161616; }

.about-company__slider .lSAction > a {
  background: none; }

.about-company__slider .gallery > li {
  padding: 0 63px; }

.about-company__slider .lSAction .lSPrev {
  -webkit-transition: .3s all;
  transition: .3s all;
  opacity: 1; }
  .about-company__slider .lSAction .lSPrev:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3); }

.about-company__slider .lSAction .lSNext {
  -webkit-transition: .3s all;
  transition: .3s all;
  opacity: 1; }
  .about-company__slider .lSAction .lSNext:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3); }

.about-company {
  padding-bottom: 75px; }

.pull-slider {
  position: relative; }
  .pull-slider img {
    max-width: 434px; }

.btn-blue-left {
  bottom: 15px;
  left: 15px; }

.btn-blue-right {
  bottom: 15px;
  right: 15px; }

.auto-repair {
  background-color: #38569b;
  text-align: center; }
  .auto-repair h2 {
    color: #fff;
    text-align: center;
    padding-top: 52px; }
  .auto-repair p {
    color: #FFFFFF; }
  .auto-repair .inner {
    position: relative; }

.auto-repair__item {
  padding: 65px 0px;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all; }
  .auto-repair__item:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); }
  .auto-repair__item i {
    min-height: 94px; }

.auto-parts h1 {
  text-align: center; }

.auto-parts__item {
  float: left;
  width: 50%;
  height: 416px;
  text-align: center;
  padding-top: 16%; }
  .auto-parts__item h4 {
    margin: 0; }
  .auto-parts__item p {
    color: #ffffff;
    margin: 0; }

.auto-parts__item_bg1 {
  background: url("../img/raster/repairer.png"); }

.auto-parts__item_bg2 {
  background: url("../img/raster/thumb.png"); }

.auto-parts__item_bg3 {
  background: url("../img/raster/oil.png"); }

.auto-parts__item_bg4 {
  background: url("../img/raster/manbox.png"); }

.auto-parts__item-c {
  display: inline-block;
  vertical-align: top;
  text-align: left; }
  .auto-parts__item-c i {
    margin-right: 11px; }

.order {
  text-align: center; }

.order__content__item {
  padding-top: 110px; }
  .order__content__item p {
    max-width: 207px;
    margin: 0 auto;
    padding-top: 15px; }
  .order__content__item h4 {
    margin: 0px;
    padding-top: 25px; }

.reviews-slider h2 {
  text-align: center; }

.reviews-slider__border {
  border: 2px solid #7d9ddc;
  margin-top: 85px; }

.reviews ul li {
  padding: 93px 0; }

.rs__info {
  padding-left: 100px; }

.rs__name {
  color: #141414;
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 10px; }

.rs__car {
  text-align: left; }

.rs__text {
  max-width: 620px;
  border-left: 2px solid #7d9ddc;
  color: #141414;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-left: 48px; }

.images__content {
  margin-top: 80px; }

.images__content__item {
  margin: 0 auto;
  padding: 0px 0px;
  max-height: 227px; }
  .images__content__item img {
    width: 100%;
    height: 100%;
    max-height: 220px; }

.maps__content {
  padding-left: 65px;
  padding-top: 25px; }

.block1 {
  margin: 0 auto;
  margin-top: 440px;
  margin-bottom: 40px;
  width: 423px;
  display: block; }

.btn-red-maps {
  outline: none; }

.slider-car {
  background: #ededed;
  padding: 15px 0; }
  .slider-car .lSSlideOuter {
    padding: 0 37px; }
  .slider-car .lSAction a {
    background-image: none;
    text-shadow: 0.5px 0.9px 0 rgba(0, 1, 1, 0.75);
    color: white;
    font-size: 24px;
    font-weight: 400; }
    .slider-car .lSAction a:hover {
      text-decoration: none; }
  .slider-car .lSAction .lSNext {
    text-align: right; }

.slider-brands li {
  background-color: #cfcfcf;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  min-height: 49px;
  position: relative; }
  .slider-brands li img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

footer {
  background-color: #38569b; }

.footer__h {
  color: white;
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  margin-right: 115px; }

.footer__p {
  color: white;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 400;
  display: inline-block; }

.footer-social {
  padding: 38px 81px; }
  .footer-social i {
    max-height: 35px;
    margin-right: 5px;
    -webkit-transition: .3s all;
    transition: .3s all; }
    .footer-social i:hover {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9); }

.footer__content {
  padding: 44px 27px; }

.block-mfp {
  padding-bottom: 59px;
  background-color: #38569b;
  position: absolute;
  top: 0;
  left: 0;
  display: none; }
  .block-mfp .krest {
    background-image: url("../img/icons/krest.png");
    width: 23px;
    height: 23px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    -webkit-transition: .3s all;
    transition: .3s all; }
    .block-mfp .krest:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
  .block-mfp h3 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 50px; }
  .block-mfp p {
    color: #dde4ff;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    padding: 25px 40px; }
  .block-mfp ul {
    margin-left: 18px; }
    .block-mfp ul li {
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      line-height: 36px;
      text-align: left;
      list-style-image: url("../img/icons/ul.png"); }

.map {
  padding-bottom: 30px; }
  .map .btn-red {
    display: block;
    margin: 0 auto;
    margin-top: 40px; }

.map__content {
  text-align: center; }

.map__content__item {
  display: inline-block;
  vertical-align: top;
  margin: 30px 50px; }
  .map__content__item h3 {
    text-align: left; }
  .map__content__item p {
    text-align: left; }

.btn-red_2 {
  outline: none; }

.btn-red {
  outline: none; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1045px) {
  header .p-thin {
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    line-height: 35px; } }

@media only screen and (max-width: 1023px) {
  .pull-slider {
    float: none !important;
    width: 434px;
    margin: auto auto;
    display: block; }
    .pull-slider img {
      max-width: 100%; }
  .about-company__content h4 {
    text-align: center; }
  .about-company__content p {
    text-align: center; }
  .block-news1 {
    width: 70%;
    text-align: center; } }

@media only screen and (max-width: 1020px) {
  .top-menu li {
    padding: 0 10px; }
  .footer-social {
    padding: 38px 45px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .map__content__item {
    display: inline-block;
    vertical-align: top;
    margin: 0 16px; }
  .auto-parts__item {
    display: inline-block;
    float: none;
    min-width: 500px; }
  .auto-parts {
    text-align: center; }
  .auto-repair__item {
    padding: 40px 0px; }
  .maps__content {
    padding-left: 0px; }
  .header-bot__item {
    text-align: center; }
  header .p-thin {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 35px; }
  .rs__text {
    max-width: 423px;
    font-size: 18px; }
  .rs__name {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 12px; } }

@media only screen and (max-width: 991px) {
  .header-top {
    height: auto;
    padding-bottom: 35px; }
  .gamburger {
    display: block; }
    .gamburger span {
      -webkit-transition: .4s all;
      transition: .4s all; }
    .gamburger.active span:first-child {
      -webkit-transform: rotate(45deg) translateX(6px) translateY(6px);
      -ms-transform: rotate(45deg) translateX(6px) translateY(6px);
      transform: rotate(45deg) translateX(6px) translateY(6px); }
    .gamburger.active span:nth-child(2) {
      -webkit-transform: rotate(-45deg) translateX(-1px) translateY(0px);
      -ms-transform: rotate(-45deg) translateX(-1px) translateY(0px);
      transform: rotate(-45deg) translateX(-1px) translateY(0px); }
    .gamburger.active span:last-child {
      opacity: 0; }
  .top-menu {
    height: 0;
    overflow: hidden;
    padding: 0;
    -webkit-transition: .6s all;
    transition: .6s all; }
    .top-menu ul {
      -webkit-transition: 1s all;
      transition: 1s all;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }
    .top-menu li {
      display: block; }
      .top-menu li a {
        width: 100%;
        text-align: center;
        padding: 15px 0;
        display: block; }
    .top-menu.active {
      height: 295px;
      padding: 10px 0; }
      .top-menu.active ul {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); } }

@media only screen and (max-width: 880px) {
  header .p-thin {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    line-height: 35px; } }

@media only screen and (max-width: 805px) {
  .footer-social {
    padding: 35px 23px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .map__content__item {
    display: block;
    margin: 0 auto;
    width: 350px; }
    .map__content__item h3 {
      text-align: center; }
    .map__content__item p {
      text-align: center; }
  .block-mfp {
    padding-bottom: 10px; }
    .block-mfp p {
      text-align: center; }
  .about-company__content {
    margin-top: 200px; }
  .header-bot {
    background-color: #26213c;
    bottom: -173px; }
  .header-bot__item {
    border: none;
    padding: 0 0; }
  header .btn-red {
    position: absolute;
    z-index: 1;
    bottom: 250px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 280px;
    height: 42px;
    font-size: 15px; }
  .btn-red {
    font-size: 15px !important; }
  .auto-parts__item {
    min-width: 320px; }
    .auto-parts__item h4 {
      font-size: 20px; }
  .auto-parts__item-c {
    width: 100%;
    text-align: center; }
  .images__content__item {
    display: block;
    margin: 0 auto;
    width: 400px; }
  .maps__content {
    padding-left: 80px; }
  .btn-red-maps {
    margin-left: 0px; }
  .rs__info {
    padding-left: 0; }
  .rs__text {
    border: 0;
    padding: 15px 0;
    display: block;
    margin: 0 auto;
    text-align: center; }
  .rs__name {
    width: 105px;
    display: block;
    margin: 0 auto;
    text-align: center; }
  .rs__car {
    display: block;
    width: 165px;
    margin: 0 auto; } }

@media only screen and (max-width: 670px) {
  .footer-social i {
    margin-right: 25px;
    margin-bottom: 13px; }
  .block-news1 {
    width: 95%; }
    .block-news1 img {
      width: 100%; } }

@media only screen and (max-width: 625px) {
  .maps__content {
    padding-left: 55px; }
  .about-company__slider .lSAction .lSPrev {
    left: 0; }
  .about-company__slider .lSAction .lSNext {
    right: -10px; }
  .pull-slider {
    width: 335px; }
  .block-popup-overall {
    width: 90%;
    padding-top: 40px; }
  .block-popup-overall__row__item {
    display: block;
    margin: 0 auto; }
    .block-popup-overall__row__item p {
      text-align: center; }
  .block-popup-overall__row__item textarea {
    height: 60px; } }

@media only screen and (max-width: 555px) {
  .rs__text {
    max-width: 280px; } }

@media only screen and (max-width: 525px) {
  .maps__content {
    padding-left: 40px; }
  .footer-social i {
    margin-right: 5px;
    margin-bottom: 0px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .pull-slider {
    width: 250px; }
  .pad {
    padding: 20px 5px !important; }
  .maps__content {
    padding-left: 0px; }
  .footer-social i {
    margin-right: 15px;
    margin-bottom: 10px;
    margin-right: 25px;
    margin-bottom: 0px; }
  .btn-red-maps {
    margin-left: 40px; }
  .block-news1 {
    padding-left: 15px;
    padding-right: 15px; }
    .block-news1 h3 {
      font-size: 21px; }
    .block-news1 p {
      font-size: 18px; } }

@media only screen and (max-width: 420px) {
  .images__content__item {
    display: block;
    margin: 0 auto;
    width: 305px; }
  .block-repair .btn-form {
    padding: 12px 10px !important; }
  .block-popup-overall .btn-form {
    padding: 12px 34px; }
  .block-popup-overall__row__item input {
    width: 240px; }
  .block-popup-overall__row__item textarea {
    width: 240px;
    height: 60px; } }

@media only screen and (max-width: 400px) {
  .pull-slider {
    width: 175px; }
    .pull-slider .btn-blue {
      height: 30px;
      font-size: 17px;
      width: 75px; }
  .block-mfp {
    padding-bottom: 10px; }
    .block-mfp h3 {
      font-size: 25px; }
    .block-mfp ul {
      margin-left: 0; }
      .block-mfp ul li {
        font-size: 14px; } }

@media only screen and (max-width: 380px) {
  header .p-thin {
    font-size: 17px; }
  .rs__text {
    max-width: 180px;
    font-size: 15px; }
  .map__content__item {
    width: 302px; }
    .map__content__item iframe {
      width: 302px; } }

h1 {
  color: #0f335b;
  font-size: 36px;
  font-weight: 900;
  line-height: 36px;
  margin: 47px 0; }

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase; }

.h2-big {
  color: #38569b;
  font-weight: 900; }

h3 {
  color: #151515;
  font-size: 24px;
  font-weight: 900; }

h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px; }

.h4-blue {
  color: #38569b;
  font-size: 18px; }

p {
  color: #161616;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px; }

.p-bold {
  font-size: 18px;
  font-weight: 500; }

.p-thin {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  line-height: 35px; }

.p-small {
  font-size: 14px;
  line-height: 18px; }

.p-big {
  font-size: 18px; }

.p-icon {
  font-weight: 400; }

.btn-red {
  text-shadow: 1px 1.7px 0 rgba(105, 0, 25, 0.75);
  color: white;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background-color: #ce334c;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  height: 47px;
  border: 0;
  -webkit-transition: .1s all;
  transition: .1s all;
  position: relative; }
  .btn-red:after {
    content: '';
    opacity: 0.2;
    background-color: white;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: .1s all;
    transition: .1s all;
    height: 50%; }
  .btn-red:hover {
    background-color: #bb2d44; }
    .btn-red:hover:after {
      opacity: 0.25; }

.btn-red_1 {
  padding: 0px 19px; }

.btn-red_2 {
  padding: 0px 48px; }

.btn-blue {
  color: white;
  background-color: #8f9ef3;
  height: 47px;
  font-size: 24px;
  font-weight: 500;
  display: block;
  width: 113px;
  -webkit-border-radius: 101px;
  border-radius: 101px;
  border: 0;
  -webkit-transition: 1.1s all;
  transition: 1.1s all;
  position: absolute; }
  .btn-blue:hover {
    background-color: #6176ee; }

.btn-blue2 {
  background-color: #7d9ddc;
  -webkit-border-radius: 9px 10px 10px 9px;
  border-radius: 9px 10px 10px 9px;
  color: white;
  font-size: 14px;
  text-shadow: 0.5px 0.9px 1px rgba(0, 1, 1, 0.75);
  font-weight: 500;
  padding: 6px 33px;
  -webkit-box-shadow: 0 3px 0px #587bc7;
  box-shadow: 0 3px 0px #587bc7;
  border: 0;
  -webkit-transition: 1.1s all;
  transition: 1.1s all;
  margin-top: 20px;
  outline: none; }
  .btn-blue2:hover {
    background-color: #557fd1; }

.text-center {
  text-align: center; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }
  a:focus {
    text-decoration: none; }
